<div id="right-header">
    <span>{{title}}</span></div>
<div id="right-container">
    <div class="default-box">
        <h2>Welcome to Blockchain Radar</h2>
        <p>Synechron is working closely with financial institutions to identify how blockchain protocols like Ripple, Ethereum and Hyperledger can be used to develop innovative solutions for issues such as faster payments or securities settlements. As a leading digital innovator, Synechron’s consultants leverage their deep, practical financial services expertise to find effective and real-world use cases for blockchain to address business challenges.
        </p>
    </div>
</div>