<md-dialog aria-label="Edit Article">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Article</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form class="blockchain-form">
            <ul class="input-form" style="list-style: none;">
                <li><label for='selectCat'>Select a Category</label></li>
                <li>
                    <select name='selectCat' id='selectCat' ng-model="currentCat" ng-change="changeCurrentCategory()">
                        <option ng-repeat="category in categories" value="{{category.key}}">{{category.name}}</option>
                    </select>
                </li>
                <li><label for='selectArt'>Select an Article</label></li>
                <li>
                    <select name='selectArt' id='selectArt' ng-model="currentArt" ng-change="changeCurrentArticle()">
                        <option ng-repeat="a in articles" value="{{a.key}}">{{a.name}}</option>
                    </select>
                </li>
                <li><label for='category'>Category</label></li>
                <li>
                    <select name='category' id='category' ng-model="art.category">
                        <option ng-repeat="category in categories" value="{{category.key}}">{{category.name}}</option>
                    </select>
                </li>
                <li><label for='name'>Name</label></li>
                <li><input type='text' name='name' id='name' ng-model="art.name"></li>
                <li><label for='title'>Title</label></li>
                <li><input type='text' name='title' id='title' ng-model="art.title"></li>
                <li><label>Visiblity</label></li>
                <li>
                    <input type="radio" name='visibility' value='1' id='active' ng-model="art.active"><label for='active'>Active</label>
                    <input type="radio" name='visibility' value='0' id='inactive' ng-model="art.active"><label for='inactive'>Inactive</label>
                </li>
                <li><label for='video'>Video</label></li>
                <li><input type='text' name='video' id='video' ng-model="art.video"></li>
                <li><label for='summary'>Summary</label></li>
                <li><textarea cols=40 rows=4 name='summary' id='summary' ng-model="art.summary"></textarea></li>
                <li><label for='content'>Content</label></li>
                <li><text-angular name='content' id='content' ng-model="art.content"></text-angular></li>
                <li><label for='tag1'>Tag 1</label></li>
                <li><input type='text' name='tag1' id='tag1' ng-model="art.tag1"></li>
                <li><label for='tag2'>Tag 2</label></li>
                <li><input type='text' name='tag2' id='tag2' ng-model="art.tag2"></li>
                <li><label for='tag3'>Tag 3</label></li>
                <li><input type='text' name='tag3' id='tag3' ng-model="art.tag3"></li>
                <li><input type="submit" value="submit" ng-click="submitArt()"></li>
            </ul>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="submitArt()">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>