<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Modal CSS -->
    <link href="css/jquery.modal.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/admin.css" rel="stylesheet">

    <!-- JqGrid Fonts -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/redmond/jquery-ui.css">
    <link rel="stylesheet" href="css//ui.jqgrid.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<meta itemprop="name" content="images/favicon.ico" />
	<link rel="shortcut icon" href="images/favicon.ico" type="image/ico" />
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body ng-app="adminApp">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/synelogo.png"></a>
            </div>

        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-md-2 padding20">
                        <ul>
                          <li><a id="navHome" class="nav active" href="#/">Home</a></li>
                          <li><a id="navCat" class="nav" href="#/categories">Categories</a></li>
                          <li><a id="navArt" class="nav" href="#/articles">Articles</a></li>
                          <li><a id="navSO" class="nav" href="#/signout">Sign out</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10 padding20 height100" ng-view>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

		<!-- Footer -->
        <nav class="navbar-bottom" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="copywrite" style="width: 100%;">&copy; 2016 Synechron. All Rights Reserved.  
            </div>
        </nav>

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery-1.9.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/jquery.modal.min.js"></script>
    <script src="js/admin-controllers.js"></script>
    <script src="js/admin.js"></script>

</body>

</html>